/* lesson */

.lesson {

  @include pc() {
    padding-bottom: 25px;
  }

  &-ttl {
    margin-bottom: 15px;

    @include sp() {
      margin-bottom: 20px;
    }
  }

  &-txt {
    @include fontsetting(22, 36, 0.02);
    margin-bottom: 40px;

    @include sp() {
      @include fontsetting(18, 32, 0.02);
    }
  }
}

.course {
  position: relative;
  transition: all .8s ease 0s;

  &:hover {
    transform: scale(.95);
  }

  &-content {
    padding: 8px 3% 20px;

  }

  &-img {
    margin-bottom: 5px;

    &-wrapper {
      padding: 10px 3% 10px;
      position: relative;
    }
  }

  &-category {
    margin-bottom: 5px;

    &.flex {
      justify-content: flex-start;
    }

    &-item {
      margin: 5px;
      padding: 5px 1%;
      border: 1px solid $c-accent;
      min-width: 75px;

      @include pc() {
        @include fontsetting(12, 20, 0.01);
      }

      @include sp() {
        @include fontsetting(11);
      }
    }
  }

  &-time {
    @include fontsetting(32, 39, 0.03);
    margin-bottom: 11px;
    display: inline-block;

    @include sp-sm(){
      @include fontsetting(28);
    }
  }

  &-txt {
    @include fontsetting(14, 20);
    margin-bottom: 10px;
  }

  &-price {
    text-align: right;
    @include fontsetting(32, 0, 0.03);

    @include sp-sm(){
      @include fontsetting(28);
    }

    &::after {
      content: "+税";
      @include fontsetting(16);

      @include sp-sm(){
        @include fontsetting(14);
      }
    }
  }
}