// mixinの定義

// メディアクエリ
// スマホ
@mixin sp {
    @media (max-width: #{$w-breakpoint-md}px) {
        @content;
    }
}

@mixin sp-sm {
    @media (max-width: #{$w-breakpoint-sm}px) {
        @content;
    }
}

// PC
@mixin pc {
    @media (min-width: #{$w-breakpoint-md + 1}px) {
        @content;
    }
}

//見栄え調整用
@mixin pc-sm {
    @media (max-width: #{$w-breakpoint-lg}px) {
        @content;
    }
}

@mixin fontsetting($fontsize:'', $lineheight:'', $letterspacing:'', $flg:true) {
    @if type-of($fontsize)=='number'and $fontsize>0 {

        //$flgが初期値の場合はfont-sizeをセットする
        @if $flg==true {
            font-size: #{$fontsize / 10}rem;
        }

        @if type-of($lineheight)=='number'and $lineheight>0 {
            //少数第二位で切り捨て
            line-height: floor(($lineheight / $fontsize) * 100) / 100;
        }

        @if type-of($letterspacing)=='number'and $letterspacing !=0 {
            letter-spacing: #{$letterspacing / $fontsize}em;
        }
    }
}